@import url("https://fonts.googleapis.com/css?family=Mina|Montserrat|Raleway|Mina");
@import "./Extras/misc";
@import "./dropdown";
@import "./inputs";

html,
body[data-en-theme] {
  margin: 0;
  padding: 0;
  font-size: $FontSize;
  $whichTheme: [data-en-theme];
  @if $whichTheme == "dark" {
    color: $DarkThemeText;
  } @else if $whichTheme == "light" {
    color: $LightThemeText;
  }
  a {
    color: $LinkTextColour;
  }
}

nav[data-en-class="navbar"] {
  background-color: $DarkTheme;
  color: $DarkThemeText;
  font-family: $HeadingFont;
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 16px;
  box-shadow: 0 2px 5px black;
  z-index: 9999999;
  position: relative;
  & ul {
    display: flex;
    align-content: flex-start;
    & li {
      & img {
        max-width: 100%;
        max-height: 100%;
        width: calc(#{$FontSize} + 18px);
        height: calc(#{$FontSize} + 18px);
        &:hover {
          cursor: pointer;
        }
      }
      &:nth-child(2) {
        padding-left: 10px;
        text-align: center;
        font-size: calc(#{$FontSize} + 8px);
      }
      &:nth-child(3) {
        position: absolute;
        right: 0;
        margin: 10px 100px 10px 10px;
        font-size: calc(#{$FontSize} - 8px);
      }
    }
  }
  & label {
    position: absolute;
    right: 0;
    margin: 10px 20px 10px 10px;
  }
}
#main {
  padding: 20px;
  height: 100vh;
  & #header,
  & #sub-header {
    text-align: center;
  }
}
[data-en-theme="dark"] #main {
  background-color: $DarkThemeMedium;
  color: $DarkThemeText;
}
#eheg
//classes' defaults
[data-en-class="no-style"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: $HeadingFont;
  -moz-backface-visibility: hidden;
}
