<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  {{#if shippingb }}
    {{#each shipments as |val key}}
      Shipping ID: {{val.id}} <br>
    {{/each}}

    {{#partial partials/content}} {{/partial}}
</body>
</html>
